<launch>
	<node name="airsim_stereo" pkg="airsim_stereo" type="airsim_stereo" output="screen"/>
	<param name="img_cols" value="320"/>
	<param name="img_rows" value="240"/>
	<param name="rqb_fov_deg" value="90.0"/>
	<param name="stereo_baseline" value="0.1"/>

	<param name="cam1" value="front_left"/>
	<param name="cam2" value="front_right"/>

</launch>

